<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <br><span th:text="${report_id}", style="font-size: large; font-style: italic"/><br><br><br/>
</div>
<div class="container-fluid">
    <table class="table table-bordered" style="width:100%; border-color: #0f5132; font-size: small">
        <colgroup>
            <col>
            <col span="3" style="background-color: #E1FFCB">
            <col span="2" style="background-color: #CBFFF0">
            <col span="2" style="background-color: #E1FFCB">
            <col span="2" style="background-color: #CBFFF0">
            <col span="2" style="background-color: #E1FFCB">
            <col span="2" style="background-color: #CBFFF0">
        </colgroup>
        <thead>
        <tr>
            <th style="width:20%"> ELEMENT </th>
            <th th:colspan="3"> FUNCTIONAL COVERAGE </th>
            <th th:colspan="2"> CONDITIONAL COVERAGE </th>
            <th th:colspan="2"> LINES </th>
            <th th:colspan="2"> COMPLEXITY </th>
            <th th:colspan="2"> METHODS </th>
            <th th:colspan="2"> CLASSS </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="package : ${report.list}">

            <td >
                <div th:with="expr_result = ${package.value.uri != null}">
                    <div th:if="${expr_result}">
                        <a href="#" data-th-href="@{'/v1/systemtests/reports/'+${package.value.uri}}">
                            <span th:text="${package.value.name}"/>
                        </a>
                    </div>
                    <div th:unless="${expr_result}">
                        <span th:text="${package.value.name}"/>
                    </div>
                </div>
            </td>

            <td >
                <div class="container mt-3">
                    <div class="progress" style="height:15px;width:150px; border: 1px solid;">
                        <div class="progress-bar" aria-valuemin="0"
                             aria-valuemax="100"
                             th:style="'width:' + ( ${package.value.instructions.total} == 0  ? '0; background-color: #FFFFFF !important' : (${package.value.instructions.covered * 1.0} / ${package.value.instructions.total}) * 100.0 ) + '%; background-color: #249F44'">
                        </div>
                        <div class="progress-bar" aria-valuemin="0"
                             aria-valuemax="100"
                             th:style="'width:' + ( ${package.value.instructions.total} == 0  ? '0; background-color: #FFFFFF !important' : (${package.value.instructions.missed * 1.0} / ${package.value.instructions.total}) * 100.0 ) + '%; background-color: #FFFFFF'">
                        </div>
                    </div>
                </div>
            </td>
            <td th:text="${package.value.instructions.covered}+'/'+${package.value.instructions.total}"></td>
            <td>
                <div th:with="expr_result = ${package.value.instructions.total == 0}?0:(${package.value.instructions.covered * 1.0}/${package.value.instructions.total})*100.0">
                    <span th:text="${#numbers.formatDecimal(expr_result, 0, 'COMMA', 0, 'POINT')} +' %'"/>
                </div>
            </td>
            <td th:text="${package.value.branches.covered}+'/'+${package.value.branches.total}"></td>
            <td>
                <div th:with="expr_result = ${package.value.branches.total == 0}?0:(${package.value.branches.covered * 1.0}/${package.value.branches.total})*100.0">
                    <span th:text="${#numbers.formatDecimal(expr_result, 0, 'COMMA', 0, 'POINT')} +' %'"/>
                </div>
            </td>
            <td th:text="${package.value.lines.covered}+'/'+${package.value.lines.total}"></td>
            <td>
                <div th:with="expr_result = ${package.value.lines.total == 0}?0:(${package.value.lines.covered * 1.0}/${package.value.lines.total})*100.0">
                    <span th:text="${#numbers.formatDecimal(expr_result, 0, 'COMMA', 0, 'POINT')} +' %'"/>
                </div>
            </td>
            <td th:text="${package.value.complexities.covered}+'/'+${package.value.complexities.total}"></td>
            <td>
                <div th:with="expr_result = ${package.value.complexities.total == 0}?0:(${package.value.complexities.covered * 1.0}/${package.value.complexities.total})*100.0">
                    <span th:text="${#numbers.formatDecimal(expr_result, 0, 'COMMA', 0, 'POINT')} +' %'"/>
                </div>
            </td>
            <td th:text="${package.value.methods.covered}+'/'+${package.value.methods.total}"></td>
            <td>
                <div th:with="expr_result = ${package.value.methods.total == 0}?0:(${package.value.methods.covered * 1.0}/${package.value.methods.total})*100.0">
                    <span th:text="${#numbers.formatDecimal(expr_result, 0, 'COMMA', 0, 'POINT')} +' %'"/>
                </div>
            </td>
            <td th:text="${package.value.classes.covered}+'/'+${package.value.classes.total}"></td>
            <td>
                <div th:with="expr_result = ${package.value.classes.total == 0}?0:(${package.value.classes.covered * 1.0}/${package.value.classes.total})*100.0">
                    <span th:text="${#numbers.formatDecimal(expr_result, 0, 'COMMA', 0, 'POINT')} +' %'"/>
                </div>
            </td>
        </tr>
        <tr>
            <td><b>Total</b></td>
            <td></td>
            <th th:text="${report.instructions.covered} +' of ' + ${report.instructions.total}"></th>
            <td>
                <div th:with="expr_result = ${report.instructions.total == 0}?0:(${report.instructions.covered * 1.0}/${report.instructions.total})*100.0">
                    <span th:text="${#numbers.formatDecimal(expr_result, 0, 'COMMA', 0, 'POINT')} +' %'"/>
                </div>
            </td>
            <th th:text="${report.branches.covered} + ' of ' + ${report.branches.total}"></th>
            <td>
                <div th:with="expr_result = ${report.branches.total == 0}?0:(${report.branches.covered * 1.0}/${report.branches.total})*100.0">
                    <span th:text="${#numbers.formatDecimal(expr_result, 0, 'COMMA', 0, 'POINT')} +' %'"/>
                </div>
            </td>
            <th th:text="${report.lines.covered} + 'of '+${report.lines.total}"></th>
            <td>
                <div th:with="expr_result = ${report.lines.total == 0}?0:(${report.lines.covered * 1.0}/${report.lines.total})*100.0">
                    <span th:text="${#numbers.formatDecimal(expr_result, 0, 'COMMA', 0, 'POINT')} +' %'"/>
                </div>
            </td>
            <th th:text="${report.complexities.covered}+' of '+${report.complexities.covered}"></th>
            <td>
                <div th:with="expr_result = ${report.complexities.total == 0}?0:(${report.complexities.covered * 1.0}/${report.complexities.total})*100.0">
                    <span th:text="${#numbers.formatDecimal(expr_result, 0, 'COMMA', 0, 'POINT')} +' %'"/>
                </div>
            </td>
            <th th:text="${report.methods.covered}+' of '+${report.methods.covered}"></th>
            <td>
                <div th:with="expr_result = ${report.methods.total == 0}?0:(${report.methods.covered * 1.0}/${report.methods.total})*100.0">
                    <span th:text="${#numbers.formatDecimal(expr_result, 0, 'COMMA', 0, 'POINT')} +' %'"/>
                </div>
            </td>
            <th th:text="${report.classes.covered}+' of '+${report.classes.total}"></th>
            <td>
                <div th:with="expr_result = ${report.classes.total == 0}?0:(${report.classes.covered * 1.0}/${report.classes.total})*100.0">
                    <span th:text="${#numbers.formatDecimal(expr_result, 0, 'COMMA', 0, 'POINT')} +' %'"/>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>